
<%# 上 %>

<div class="main-top">
  <div class="chat-content">
    <%# <a href="#">Chatタイトル</a> %>
    <div class="content-name">
      Chatタイトル
    </div>
  </div>
  <div class="chat-end">
    <div class="end-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<%# 中 %>

<div class="main-center">
  <div class="chat-text">
    <div class="text-users">
      <div class="user-name">
        トム
      </div>
      <div class="text-date">
        2021/10/10(sun) 12:34:56
      </div>
    </div>
    <div class="text-post">
      <div class="post-message">
        こんにちは！
      </div>
    </div>
  </div>

<%# ここから %>
  <div class="chat-text">
    <div class="text-users">
      <div class="user-name">
        サム
      </div>
      <div class="text-date">
        2021/10/10(sun) 22:34:56
      </div>
    </div>
    <div class="text-post">
      <div class="post-message">
        こんばんは！！
      </div>
    </div>
  </div>
<%# ここまで、仮記述 %>

</div>

<%# 下 %>

<div class="main-under">
  <div class="under-input">
    <input class="input-form" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="submit-form" type="submit" value="送信">
</div>
