
<%# 上 %>
<div class="side-top">
  <div class="user-name">
    <a href="#">トム</a>
  </div>
  <div class="create-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<%# 下 %>
<div class="side-main">
</div>

