
<%# 上 %>
<div class="side-top">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %> 
    <%# <a href="#">トム</a> %>
  </div>
  <div class="create-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<%# 下 %>
<%# <div class="side-main">
  <div class="chat-room-name">
    <a href="#">textroom1</a>
    <a href="#">textroom2</a>
  </div>
</div> %>

<div class="side-main">
  <div class="chat-room">
    <div class="room-name">
      <a href="#">textroom1</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="room-name">
      <a href="#">textroom2</a>
    </div>
  </div>
</div>

